@model Product

<form method="POST">
    @* span aralarına mesaj yazmamıza gerek yok cunku Product sınıfnta [required] tanımladıgımız yerlere gerektiginde cıkması gereken mesajı yolladık. *@
    <div class="mb-3 mt-3">
        <label for="Name">Name : </label>

        <input asp-for="Name" value="@Model.Name" class="form-control">
        @* html span ile hata mesajını yazabılırız (span gereklı oldugunda ortaya cıkar ozel bırt span-asp-valşdatşon vardır ) *@
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3 mt-3">
        <label for="Price">Price : </label>
        <input asp-for="Price" value="@Model.Price" class="mb-3 mt-3">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="mb-3 mt-3">
        <label for="ImageUrl">Image Url : </label>
        <input asp-for="ImageUrl" value="@Model.ImageUrl" class="mb-3 mt-3">
        <span asp-validation-for="ImageUrl" class="text-danger"> </span>
    </div>
    <div class="mb-3 mt-3">
        <label for="CategoryId">CategoryId : </label>
        <select asp-for="CategoryId"  asp-items="@ViewBag.Categories" class="form-control">
            <option selected disabled>Seçiniz</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>

    </div>
    <div class="mb-3 mt-3">
        <label for="Description">Description : </label>
        <textarea asp-for="Description" value="@Model.Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>