@model Product


<form method="POST">
    <input type="hidden" name="ProductId" value="@Model.ProductId" />
    <div class="mb-3 mt-3">
        <label for="Name">Name: </label>
        @* value bilgisini update sayfası geldiğinde set ediyor olmamız gerek value="" olmamalı *@
        <input asp-for="Name" value="@Model.Name" class="form-control">
    </div>
    <div class="mb-3 mt-3">
        <label for="Price">Price : </label>
        <input asp-for="Price" value="@Model.Price" class="mb-3 mt-3">
    </div>

    <div class="mb-3 mt-3">
        <label for="ImageUrl">Image Url : </label>
        <input asp-for="ImageUrl" value="@Model.ImageUrl" class="mb-3 mt-3">
    </div>
    <div class="mb-3 mt-3">
        <label for="CategoryId">CategoryId : </label>
        <select asp-for="CategoryId" value="@Model.CategoryId" asp-items="@ViewBag.Categories" class="form-control">
            <option selected disabled>Seçiniz</option>
        </select>
    </div>
    <div class="mb-3 mt-3">
        <label for="Description">Description : </label>
        <textarea asp-for="Description" value="@Model.Description" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
